@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --color_text-primary: #564c3c;
    --color_text-secundary: #927c4e;
    --color_text-tertiary: white;
    --main_color-primary: #776646;
    --main_color-secundary: #353233;
    --background-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px #353233;
}

header {
    width: 100%;
    height: 80px;
    margin-top: 0px;
    position: fixed;
    z-index: 1;
    background-color: #353233;
}

.container__menu {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;

}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-left: 36px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--color_text-secundary);
    font-size: var(--lowText_font_size);
    position: relative;
    text-transform: uppercase;
}

/*
#selected{
    background: --main_color-primary;
    padding: 10px 40px;
    border-radius: 50px;
}*/

.menu nav ul li a:hover {
    color: var(--color_text-primary);
}

.menu nav img {
    display: none;
}

.menu #btn_menu {
    display: none;
}

.menu .socialMedia {
    margin: 0px 10px;
}

.menu .socialMedia a {
    margin: 0px 4px;
}

.menu .socialMedia img {
    width: 20px;
}



/*Haciendo la página Responsive*/

@media screen and (max-width:1200px) {

    header {
        padding: 40px;
    }


}

@media screen and (max-width: 720px) {

    .menu nav {
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul {
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li {
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a {
        color: var(--color_text-primary);
    }

    /*#selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }*/

    .menu nav img {
        display: block;
        width: 200px;
    }

    #back_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .menu #btn_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}


/**********Slider**********/

/*
.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}
*/

.slider-frame img {
	width: 100%;
}


/*****inicio dubai*******/

.inicio7 {
    background-color: white;
    background-image: url(../img/burjdubai.png);
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50px;
    min-width: 320px;
    margin: auto;
    text-align: center;
    margin-top: 0px;
}


.inicio-txt7 h1 {
    align-items: center;
    font-size: 55px;
    line-height: 1;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
    text-align: center;
}

.inicio-txt7 h2 {
    align-items: center;
    color: white;
    font-size: 27px;
    margin-bottom: 100px;
    margin: 35px 35px;
    margin: 0 100px;
    text-align: center;
}

/*portada de inicio*/

.inicio1 {
    background-color: white;
    background-image: url(../img/slider4.png);
    width: 100%;
    padding-top: 50px;
    min-width: 320px;
    margin: auto;
    text-align: center;
    margin-top: 0px;
}


.inicio2 {
    background-color: white;
    background-image: url(../img/iniciopanama.png);
    width: 100%;
    padding-top: 50px;
    min-width: 320px;
    margin: auto;
    text-align: center;
    margin-top: 0px;
}


.inicio-txt2 h1 {
    align-items: center;
    font-size: 55px;
    line-height: 1;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
    text-align: center;
}

.inicio-txt2 h2 {
    align-items: center;
    color: white;
    font-size: 27px;
    margin-bottom: 100px;
    margin: 35px 35px;
    margin: 0 100px;
    text-align: center;
}

.inicio {
    background-color: white;
    width: 100%;
    padding-top: 50px;
    min-width: 320px;
    margin: auto;
    text-align: center;
    margin-top: 0px;
}


.inicio-txt {
    flex-basis: 70%;
    text-align: center;

}

.inicio-txt h1 {
    align-items: center;
    font-size: 55px;
    line-height: 1;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
    text-align: center;
}

.inicio-txt h2 {
    align-items: center;
    color: black;
    font-size: 27px;
    margin-bottom: 100px;
    margin: 35px 35px;
    margin: 0 100px;
    text-align: center;
}



.inicio-txt1 h1 {
    align-items: center;
    font-size: 55px;
    line-height: 1;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
    text-align: center;
}

.inicio-txt1 h2 {
    align-items: center;
    color: white;
    font-size: 27px;
    margin-bottom: 100px;
    margin: 35px 35px;
    margin: 0 100px;
    text-align: center;
}

/**********su empresa en usa*****************/


.content3 {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}


.logo3 {
    text-align: center;
    font-size: 3em;
}

.logo3 span {
    color: #776646;
}

.contact-wrapper3 {
    box-shadow: 0 0 90px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper3>* {
    padding: 1em;
}

.contact-form3 {
    background: #927c4e;


}

.contact-form3 form {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/*.contact-form3 form label {
    display: block;
}

.contact-form3 form p {
    margin: 0;
    padding: 1em;
}

.contact-form3 form .block {
    grid-column: 1 / 2;
}
*/
.contact-form3 form button,
.contact-form3 form input,
.contact-form3 form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #f0c975;
}

.contact-form3 form button {
    background: #f0c975;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form3 form button:hover,
.contact-form3 form button:focus {
    background: #a05e07;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info3 {
    background: #776646;
    color: white;
}

.red-social img {

    width: 100px;

}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }

    .contact-wrapper3 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper3>* {
        padding: 2em;
    }

    .contact-info3 h4,
    .contact-info3 ul,
    .contact-info3 p {
        text-align: left;
    }
}


/*******************************/



.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i {
    color: orange;
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    background: #e39403;
}



/****Oficinas de derechos****/



.header-imgs1 {
    max-width: auto;
    height: 350px;
    width: 450px;
    margin-bottom: 200px;
    margin-top: 90px;
    border-radius: 50px;
}

.img-firma {

    max-width: auto;
    height: 150px;
    width: 250px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: none;
    margin-left: 85px;
}

.header-content1 {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: var(--main_color-secundary);
    background-color: white;
    text-align: justify;

}

.header-txt1 {
    flex-basis: 50%;
    text-align: center;


}

.header-txt1 h2 {
    align-items: center;
    font-size: 45px;
    line-height: 1;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
    text-align: center;
}

.header-txt1 h3 {
    align-items: center;
    color: black;
    font-size: 25px;
    margin-bottom: 100px;
    margin: 35px 35px;
    margin: 0 100px;

}
/***********************porque elegirnos**************/


.header-imgs5 {
    max-width: auto;
    height: 250px;
    width: 350px;
    margin-bottom: 200px;
    margin-top: 90px;
    border-radius: 50px;
}


.header-content5 {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: var(--main_color-secundary);
    background-color: white;
    text-align: justify;

}

.header-txt5 {
    flex-basis: 50%;
    text-align: center;


}

.header-txt5 h2 {
    align-items: center;
    font-size: 45px;
    line-height: 1;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
    text-align: center;
}

.header-txt5 h3 {
    align-items: center;
    color: black;
    font-size: 25px;
    margin-bottom: 100px;
    margin: 35px 35px;
    margin: 0 100px;

}

/**.header-txt1 h4 {
    align-items: center;
    font-size: 45px;
    line-height: 1;
    color: black;
    font-family: 'Brittany', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
}***/


.btn__texts {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;

}

.btn__texts:hover {

    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}





/****************/



img {
    width: 100%;
    border-radius: none;

}

.container__cover {
    width: 100;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/law-partners-1_13.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    /*
    background: var(--main_color-secundary);*/
}

.cover {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text__cover {
    width: 100%;
    padding-right: 150px;
}

.text__cover h1 {
    font-size: 50px;
    color: var(--color_text-secundary);
}

.text__cover p {
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.btn__text {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn__text:hover {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;

}

.image__cover {
    width: 100%;
}

.image__cover img {
    width: 750px;
    border-radius: 25px;

}

/*****iconos flotantes*****/


.flotantes {
    background-color: #353233;
    border: 1px solid #564c3c;

    position: fixed;
    z-index: 777;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    transition: ease 0.2s;
}

.flotentes:hover {
    transform: scale(1.1);
    transition: 0.1s;

}

.boton-flotante {
    width: 60px;
    transition: ease 1s;

}


/*Estilos generales CARDS*/


.container__card-primary5 {
    padding-top: 100px;
    text-align: justify;
    justify-content: center;
    background-color:white;

}

.container__card-primary {
    padding-top: 100px;
    text-align: justify;
    justify-content: center;


}

.container__card-primary img {
  
    width: 100px;
    justify-content: center;

}

.card__primary {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
    justify-content: center;
    
}

.text__card-primary {
    max-width: 800px;
    margin: auto;
    text-align: justify;
    justify-content: center;

}

.text__card-primary p {
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    justify-content: center;
    text-align: center;
}

.text__card-primary h1 {
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
    justify-content: center;
    text-align: center;
}

.text__card-primary h3 {
    font-size: var(--text_size_title);
    font-weight: 900;
    color: var(--color_text-secundary);
    justify-content: center;
}

.container__box-cardPrimary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

}
.container__box-cardPrimary a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    text-decoration: none;
}

.box__card-primary {
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #111111;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    justify-content: center;
    background-color: white;
}

.box__card-primary:hover {
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
    justify-content: center;
}

.box__card-primary h2 {
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
    text-align: center;
}

.box__card-primary p {
    margin-top: 20px;
    text-align: center;
}

.box__card-primary h3 {
    margin-top: 80px;
    justify-content: center;
    font-weight: 800;

}

/**sobre nosotros**/

.header-imgs {
    max-width: auto;
    height: 250px;
    width: 350px;
    margin-bottom: 200px;
    margin-top: 70px;

}



.header-content {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    text-align: justify;


}

.header-txt {
    flex-basis: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;

}

.header-txt h1 {
    align-items: center;
    font-size: 45px;
    line-height: 1;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 55px;
    margin: 55px 55px;
    margin-left: 100px;
    text-align: center;

}

.header-txt h2 {
    align-items: center;
    color: black;
    font-size: 17px;
    margin-bottom: 100px;
    margin: 35px 35px;
    margin: 0 100px;
    text-align: center;
}


.btn__texts {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn__texts:hover {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;

}

/*Servicios*/

.card__service img {
    width: 50px;
}

/*
.card__service i{
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    color: var(--color_text-primary);
}


/******PREGUNTAS FRECUENTES****/

.container4 {
    width: 90%;
    margin: 100px auto;
}

.container-faq4 {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.1);
    padding: 30px;
}

.container-faq4 .title-faq4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container-faq4 .item-faq4 {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 10px;
}

.container-faq4 .item-faq4 .question4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #353233;
    padding: 20px 20px 20px 80px;
    transition: .4s;
    color: white;
}

.container-faq4 .item-faq4 .question4 .more4 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}

.container-faq4 .item-faq4 .question4 .more4:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}

.container-faq4 .item-faq4 .question4 span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}

.container-faq4 .item-faq4 .answer4 {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}

.container-faq4 .item-faq4 .answer4 p {
    font-size: 1.3rem;
}

.container-faq4 .item-faq4 .answer4 span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: -10px;
    opacity: .2;
}





/******CONTACTO****/

.formulario {

    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;

    /*background-image: url(../img/fondomarmol.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    margin-top: 30px;*/
}

.p {
    color: #FAFBFE;
    text-align: center;
    margin: 0;
    font-size: 15px;
    margin-bottom: 20px;
}

form {
    width: 350px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}

form p {
    color: #FAFBFE;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

.boton {
    background: #31384a;
    color: #FAFBFE;
    padding: 20px;
    font-size: 17px;
}

.boton:hover {
    cursor: pointer;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*
@media (max-width: 480px) {
    main{
        width: 100%;
    }
}

/****PIE DE PAGINA***/

.pie-pagina {
    width: 100%;
    background-color: #353233;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #927c4e;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #927c4e;
    margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #927c4e;
    margin-right: 10px;
    background-color: #31384a;
    text-align: center;
    transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #111111;
    padding: 15px 10px;
    text-align: center;
    color: #FAFBFE;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }


}